<p id="notice"><%= notice %></p>
<%= image_tag @profile.image.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @profile.rate %>
</p>
<% if user_signed_in? && (current_user.id == @profile.user_id) %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', profiles_path %>
